export(VB_params)
export(plotVB)
export(plotVBnoise)
export(scalar_M)
importFrom(ggplot2, ggplot, geom_line, geom_hline, annotate, labs, theme_classic, aes, geom_point, geom_smooth, xlim)
importFrom(dplyr, filter, select)
importFrom(FSA, metaM)
importFrom(stats, rnorm)
export(ChenWat)
importFrom(ggplot2, ggplot, geom_line, geom_point, labs, theme_classic, aes)
export(ProdBiom)
importFrom(ggplot2, ggplot, geom_line, geom_point, labs, theme_minimal, aes)
export(Charnov)
export(Gislason)
export(Lorenzen)
export(M_scalarPlot)
export(Plot_M)
